
body {
  background-image: url("../images/logo-vk.png");
}


#pageHeader {
  background: #3a2e42;
}
#pageFooter {
  background: #3a2e42;
}

#homeNav:hover, #aboutNav:hover, #resumeNav:hover, #codingNav:hover, #designNav:hover, #contactNav:hover  {
  transition: .5s ease;
  transform: scale(1.1);
  color: #3a2e42;
}