
body {
  background-image: url("../images/logo-vk.png");
}

#pageHeader {
  background: #3a2e42;
}
#pageFooter {
  background: #3a2e42;
}

#homeNav:hover, #aboutNav:hover, #resumeNav:hover, #designNav:hover, #codingNav:hover, #contactNav:hover {
  color: #3a2e42;
}

h2 {
  color: #3a2e42;
}
h4 {
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin-left: 20px;
  line-height: 30px;
}