
body {
  background-image: url("../images/logo-vkpink.png");
}

#pageHeader {
  background: #c374c0;
}
#pageContent {
  opacity: 100%;
}
#pageFooter {
  background: #c374c0;
}

#homeNav:hover, #aboutNav:hover, #resumeNav:hover, #designNav:hover, #codingNav:hover, #contactNav:hover {
  color: #c374c0;
}

h2 {
  color: #c374c0;
}