
body {
  background-image: url("../images/logo-vkpink.png");
}

#pageHeader {
  background: #c374c0;
}
#pageFooter {
  background: #c374c0;
}

#homeNav:hover, #aboutNav:hover, #resumeNav:hover, #designNav:hover, #contactNav:hover {
  transition: .5s ease;
  transform: scale(1.1);
  color: #c374c0;
}