
html {
  height: 100%;
}

body {
  background: rgb(30, 30, 30);
  /* background: linear-gradient(90deg, rgba(105,51,108,1) 0%, rgba(58,44,59,1) 25%, rgba(28,28,28,1) 50%, rgba(4,54,55,1) 75%, rgba(27,73,82,1) 100%); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: fixed;
}

/* Link hover decoration removal */
a, a:hover, a:focus {
  text-decoration: none!important;
  color: #777;
}

#navBar {
  background: rgb(255, 255, 255, 0);
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  padding-top: 165px;
  position: fixed;
  left: 0;
  z-index: 2;
}
#homeNav, #aboutNav, #resumeNav, #designNav, #codingNav, #contactNav {
  width: 150px;
  transition: .5s ease;
  line-height: 40px;
  background-color: #777777;
  margin-bottom: 100px;
  padding-left: 30px;
  left: 0;
}
#homeNav:hover, #aboutNav:hover, #resumeNav:hover, #designNav:hover, #codingNav:hover, #contactNav:hover {
  transition: .5s ease;
  transform: scale(1.1);
  background-color: white;
}