@media screen and (max-width: 768px){
    
  /* Hides side navbar and About image */
  #navBar {
    display: none;
  }
   
  /* Dropdown navbar menu button */
  #dropdown {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px 10px 10px 10px;
    height: 55px;
    width: 55px;
    background: #777;
    font-family: 'Abel', sans-serif;
    text-align: center;
    z-index: 3;
    border-radius: 15px 0px 15px 0px;
  }
  /* Dropdown menu list */
  .dropdown-menu {
    z-index: 4;
    background-color: #777;
    border-style: none;
    margin-top: -35px;
    margin-right: 14px;
    border-radius: 15px 0px 15px 0px;
  }
  /* Dropdown nav button slash info */
  .menuFont {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 7px;
  }
  /* Navbar link font info */
  .linkFont {
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    padding-left: 10px;
    font-size: 25px;
    margin-left: 15px;
    line-height: 50px;
  }
    

  #pageHeader {
    width: 250px;
    height: 55px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 15px 0px 15px 0px;
  }
  #pageContent {
    background: #ffffff;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    opacity: 90%;
    margin-bottom: 90px;
    margin-top: 90px;
    color: #777777;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    line-height: 20px;
    border-radius: 25px 0px 25px 0px ;
    right: auto;
    margin-left: 3px;
    border-style: none;
  }
  #pageFooter {
    width: 100px;
    height: 45px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin-left: 10px;
    border-radius: 15px 0px 15px 0px;
  }
  #socialIcon {
    width: 22px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 12px;
  }



  h2 {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    line-height: 20px;
    margin-left: 0px;
  }
  h3 {
    color: #777;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 0px;
  }
  h4 {
    color: #777;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 20px;
    margin-left: 0px;
  }
  ul {
    columns: 1;
    line-height: 20px;
    font-size: 18px;
    margin-left: 0px;
  }
  li {
    list-style: none;
    columns: 2;
    line-height: 20px;
    font-size: 18px;
    margin-left: 0px;
  }

}
  
  
  @media screen and (max-width: 360px){
  
  
  }