@media screen and (max-width: 1025px){

  #nameHeader {
    font-size: 120px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #titleHeader {
    font-size: 35px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }
  #myPicture {
    width: 45%;
    border-radius: 25px 0px 25px 0px;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: block;
  }
  .portfolioBtn {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }
  #pageContent {
    padding: 40px;
    padding-top: 10px;
    font-family: 'Abel', sans-serif;
    line-height: 35px;
    position: absolute;
    z-index: 1;
    border-radius: 25px 0px 25px 0px ;
  }

  h4 {
    color: #777;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 35px;
  }

  li {
    list-style: none;
    columns: 2;
    line-height: 35px;
    margin-left: 40px;
  }
  ul {
    line-height: 35px;
    margin-left: 30px;
  }

}



@media screen and (max-width: 768px){

  html {
    height: 100%;
    margin-top: 10px;
  }

  #nameHeader {
    font-size: 85px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 10px;
  }
  #titleHeader {
    font-size: 35px;
    margin-top: 20px;
  }
  #designCard {
    margin: 20px;
    margin-top: 10px;
    padding-top: 10px;
    height: 100px;
    font-size: 80px;
    }
    #codeCard {
      margin: 20px;
      padding-top: 10px;
      height: 100px;
      font-size: 80px;
    }
    
  /* Hides side navbar and About image */
  #navBar {
    display: none;
  }
   
  /* Dropdown navbar menu button */
  #dropdown {
    visibility: visible;
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px 10px 10px 10px;
    height: 55px;
    width: 55px;
    background: #777;
    font-family: 'Abel', sans-serif;
    text-align: center;
    z-index: 3;
    border-radius: 15px 0px 15px 0px;
  }
  /* Dropdown menu list */
  .dropdown-menu {
    visibility: visible;
    z-index: 4;
    background-color: #777;
    border-style: none;
    margin-top: -35px;
    margin-right: 5px;
    border-radius: 15px 0px 15px 0px;
  }
  /* Dropdown nav button slash info */
  .menuFont {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 7px;
  }
  /* Navbar link font info */
  .linkFont {
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    padding-left: 10px;
    font-size: 25px;
    margin-left: 15px;
    line-height: 50px;
  }
    

  #pageHeader {
    width: 250px;
    height: 55px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 15px 0px 15px 0px;
  }
  #pageContent {
    background: #ffffff;
    width: 90%;
    margin: auto;
    margin-bottom: 65px;
    margin-top: 75px;
    color: #777777;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    line-height: 20px;
    border-radius: 25px 0px 25px 0px ;
    z-index: 1;
    right: auto;
    margin-left: 3px;
    border-style: none;
    padding: 30px;
    padding-top: 10px;
  }
  #pageFooter {
    width: 100px;
    height: 45px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin-left: 10px;
    border-radius: 15px 0px 15px 0px;
  }
  #socialIcon {
    width: 22px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 12px;
  }
  .portfolioBtn {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }
  #portfolioSheet {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px 0px 10px 0px ;
  }
  #myPicture {
    width: 100%;
    border-radius: 25px 0px 25px 0px;
    float: left;
    margin-right: 50px;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  h2 {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    line-height: 25px;
    margin-left: 0px;
  }
  h3 {
    color: #777;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-left: 0px;
  }
  h4 {
    color: #777;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 20px;
    margin-left: 0px;
  }
  ul {
    columns: 1;
    line-height: 25px;
    font-size: 18px;
    margin-left: 0px;
  }
  li {
    list-style: none;
    columns: 2;
    line-height: 25px;
    font-size: 18px;
    margin-left: 0px;
  }

}
  
  
  @media screen and (max-width: 376px){

  }


