

body {
  background: rgb(30, 30, 30);
  background-image: url("../images/logo-vkgreen.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 900px;
  background-attachment: fixed;
}

#resumeHeader {
  background: #4f7d41;
  width: 700px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

#resumeFooter {
  background: #4f7d41;
  width: 700px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

#homeNav:hover, #aboutNav:hover, #designNav:hover, #codingNav:hover, #contactNav:hover {
  transition: .5s ease;
  transform: scale(1.1);
  color: #4f7d41;
}

#resume {
  background: #ffffff;
  padding: 40px;
  width: 100%;
  margin-bottom: 90px;
  margin-top: 90px;
  color: #777777;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  line-height: 32px;
  z-index: 1;
  border-radius: 25px 0px 25px 0px;
}

/* Main body header info */
h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  color: #4f7d41;
  font-weight: bold;
  margin: 20px;
}

/* Title font for resume companies */
h3 {
  color: #777;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 50px;
  margin-top: 20px;
}

/* Dates worked or graduated on resume */
h4 {
  color: #777;
  margin-left: 13px;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  font-weight: normal;
}

/* Resume skills two column list */
ul {
  columns: 2;
}