body {
  background-image: url("https://github.com/vkaszuba/portfolioWebsite/blob/master/assets/images/logo-vk.png?raw=true");
  background-color: #ffffff;
  background-size: 1100px;
  background-attachment: fixed;
  background-position: center;
  padding-top: 40px;
  background-repeat: no-repeat;
}

#nameHeader {
  background-color: blue;
  height: 100px;
}

#designCard {
background-color: rgb(169, 248, 248);
margin: 40px;
height: 600px;
}

#codeCard {
  background-color: rgb(235, 125, 211);
  margin: 40px;
  height: 600px;
}